services:
  rabbitmq:
    image: "rabbitmq:3-management"
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: "admin"
      RABBITMQ_DEFAULT_PASS: "admin"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - default

  redis:
    image: "redis:latest"
    ports:
      - "6379:6379"
    networks:
      - default
  rest:
    build: ./rest
    ports:
      - "3000:3000"
    depends_on:
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_started
    env_file:
      - .env
    networks:
      - default

  websocket:
    build: ./websocket
    ports:
      - "3001:3001"
    depends_on:
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_started
    env_file:
      - .env
    networks:
      - default

  websocket-lobby:
    build: ./websocket-lobby
    ports:
      - "3002:3002"
    depends_on:
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_started
    env_file:
      - .env
    networks:
      - default

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: ${VITE_API_URL}
        VITE_WS_URL: ${VITE_WS_URL}
        VITE_WS_LOBBY_URL: ${VITE_WS_LOBBY_URL}
    ports:
      - "4173:4173"
    depends_on:
      - rabbitmq
      - redis
      - rest
      - websocket
      - websocket-lobby
    env_file:
      - .env
    networks:
      - default

networks:
  default:
    driver: bridge
