@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@600;700&family=Rubik:wght@500;700&display=swap");

.input-letter {
  font-family: "Inter", "Poppins", "Rubik", system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #58585b;
}
